body {
	background: #222;
}

title { 
	color: black;
	text-align: center;
}

h1 {
	font-family: Arial;
	color: white;
	text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.mySlides {
	display: none;
}

.gallery img {
	position: relative;
	display: block;
	height: auto;
	margin: auto;
}

.gallery.desc {
	padding: 20px;
	text-align: center;
}

.previous, .next {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    font-weight: bold;
}

.next {
	right: 0;
}
